.homepage {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 0;
    padding: 100px;
}

.homepage .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contents h3, h2, p {
    padding: 0.5rem 0;
}

.contents h3{
    font-size: 1.5rem;
}

.contents h2 {
    font-size: 2rem;
    font-weight: 800;
}

.contents p {
    font-size: 1.3rem;
    font-weight: 800;
}

.contents .btns {
    padding: 2rem 0;
}

.images {
    margin: auto;
    padding-right: 10px;
}

.images img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


@media screen and (max-width : 640px) {
    .homepage {
        grid-template-columns: 1fr;
    }
}
