.projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
}
.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.project-card {
    padding: 2rem 4rem;
    border: 1px solid white;
    margin: 1rem;
}

.project-card p {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
}

.project-card .view {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    background-color: orange;
    border-radius: 5px;
    
}

@media screen and (max-width: 640px) {
    .project {
        grid-template-columns: 1fr;
        
    }
}