.heading {
    text-align: center;
    padding: 2rem 0;
}

.Skillset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
}

.frameworks {
    margin: auto;
}

.skill {
    margin-left: 1.2rem;
}

.skill p {
    font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
    .Skillset {
        grid-template-columns: 1fr;
    }

    .frameworks {
        margin-left: 2rem;
    }
}